<mat-toolbar id="toolbar" class="mat-primary">
    <span>Tanzania & Zanzibar 2021</span>
</mat-toolbar>

<mat-drawer-container id="media">
    <mat-drawer id="albums" [mode]="'side'" [opened]="albumsOpened">
        <mat-selection-list [multiple]="false" (selectionChange)="onSelectionChanged($event)">
            <div mat-subheader>Albums</div>
            <mat-list-option *ngFor="let albumName of albumNames" [value]="albumName">
                <mat-icon mat-list-icon>folder</mat-icon>
                {{albumName}}
            </mat-list-option>
        </mat-selection-list>
    </mat-drawer>

    <mat-drawer-content>
        <mat-tab-group>
            <mat-tab label="Pictures">
                <div *ngFor="let imageUrl of imageUrlsToLoad">
                    <img [src]="imageUrl"/>
                </div>
            </mat-tab>
            <mat-tab label="Videos">
                <video #video controls autoplay [src]="videoUrls[videoIndex]">
                </video>
                <button mat-icon-button aria-label="Previous" (click)="videoIndex = videoIndex - 1">
                    <mat-icon>navigate_before</mat-icon>
                </button>
                <button mat-icon-button aria-label="Next" (click)="videoIndex = videoIndex + 1">
                    <mat-icon>navigate_next</mat-icon>
                </button>
            </mat-tab>
        </mat-tab-group>
    </mat-drawer-content>
</mat-drawer-container>

<router-outlet></router-outlet>