<mat-toolbar id="toolbar" class="mat-primary">
    <span>Tanzania & Zanzibar 2021</span>
</mat-toolbar>

<mat-drawer-container id="media">
    <mat-drawer id="albums" [mode]="'side'" [opened]="true">
        <mat-selection-list [multiple]="false" (selectionChange)="onSelectionChanged($event)">
            <div mat-subheader>Albums</div>
            <mat-list-option *ngFor="let albumName of albumNames" [value]="albumName">
                <mat-icon mat-list-icon>folder</mat-icon>
                {{albumName}}
            </mat-list-option>
        </mat-selection-list>
    </mat-drawer>

    <mat-drawer-content>
        <div id="pictures">
            <div *ngFor="let mediaUrl of mediaUrls">
                <div *ngIf="mediaUrl.includes('JPG')">
                    <img [src]="mediaUrl" />
                </div>
                <!-- <ng-template #videoBlock>
                            <video controls>
                                <source [src]="mediaUrl" type="video/mp4">
                            </video>
                        </ng-template> -->
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<router-outlet></router-outlet>